<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICBINGTKR.Properties.q3map2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ICBINGTKR.q3map2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ICBINGTKR.Properties.q3map2>
            <setting name="q3map2_path" serializeAs="String">
                <value>C:/Program Files/GtkRadiant-1.4/</value>
            </setting>
            <setting name="fs_basepath" serializeAs="String">
                <value>C:/Program Files (x86)/Steam/steamapps/common/Jedi Academy/GameData/</value>
            </setting>
            <setting name="bsp_compile_commands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-v -game ja -fs_basepath &lt;BASE&gt; -meta &lt;MAP&gt;</string>
                        <string>-game ja -fs_basepath &lt;BASE&gt; -vis -saveprt &lt;MAP&gt;</string>
                        <string>-v -game ja -fs_basepath &lt;BASE&gt; -light -fast -filter &lt;MAP&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ICBINGTKR.Properties.q3map2>
        <ICBINGTKR.q3map2>
            <setting name="q3map2_path" serializeAs="String">
                <value>C:\Program Files\GtkRadiant-1.4</value>
            </setting>
            <setting name="fs_basepath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Jedi Academy\GameData\base</value>
            </setting>
            <setting name="bsp_compile_commands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-game ja -fs_basepath \"C:/Program Files (x86)/Steam/steamapps/common/Jedi Academy/GameData/\" -meta -v &lt;MAPNAME&gt;</string>
                        <string>-game ja -fs_basepath \"C:/Program Files (x86)/Steam/steamapps/common/Jedi Academy/GameData/\" -vis -saveprt -fast -v &lt;MAPNAME&gt;</string>
                        <string>-game ja -fs_basepath \"C:/Program Files (x86)/Steam/steamapps/common/Jedi Academy/GameData/\" -light -fast -super 2 -filter -v &lt;MAPNAME&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ICBINGTKR.q3map2>
    </applicationSettings>
</configuration>